.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
  color: white;
}

.error {
  font-size: 10em;
  font-weight: 700;
}

.description {
  font-size: 2em;
  margin-top: 30px;
}
