.content {
  display: flex;
  height: 100px;
  justify-content: space-between;
  align-items: center;
  padding-left: clamp(20px, 4vw, 100px);
  padding-right: clamp(20px, 4vw, 100px);
  color: white;
}

.links {
  display: flex;
  align-items: center;
  gap: clamp(10px, 5vw, 30px);
  font-size: 1.2em;
  height: 100%;

  a {
    text-decoration: none;
    color: inherit;
  }
  z-index: 20;
}

.link {
  display: flex;
  position: relative;
  align-items: center;
  cursor: pointer;
  height: 2em;
  letter-spacing: 0.18px;
}

.visited {
  position: relative;
  font-weight: 700;
  letter-spacing: 0px;
}
.visited::before {
  content: "";
  position: absolute;
  bottom: 0;
  display: block;
  width: 100%;
  height: 4px;
  border-radius: 999px;
  background: white;
  margin-top: 3px;
}

.link::after {
  content: "";
  position: absolute;
  bottom: 0;
  display: block;
  width: 0;
  height: 4px;
  border-radius: 999px;
  background: white;
  margin-top: 3px;
  transition: width 0.25s;
}
.link:hover::after {
  width: 100%;
}

.logo {
  position: relative;
  width: 50px;
  height: 50px;
  z-index: 20;
}
.picture_container {
  position: relative;
  width: 50px;
  height: 50px;
  z-index: inherit;
}
.picture {
  position: relative;
  width: inherit;
  height: inherit;
  border-radius: 50%;
  overflow: hidden;
  cursor: pointer;
  z-index: inherit;
  box-shadow: rgba(0, 0, 0, 0.75) 0px 5px 15px;
}

.dropdown {
  position: absolute;
  top: 25%;
  background: rgba(255, 255, 255, 0.5);
  width: 50px;
  height: 210px;
  z-index: 19;
  border-radius: 999px;

  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;

  a {
    text-decoration: none;
    color: inherit;
  }
}

.actions {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.action:first-child {
  margin-top: 55px;
}
.action {
  color: black;
  font-size: 2em;
  transition: scale 0.15s;
}
.action:hover {
  scale: 1.1;
}

.round_border_1 {
  position: absolute;
  z-index: 14;
  width: 60%;
  aspect-ratio: 1;
  top: 20%;
  left: 35px;
  transform: rotateZ(90deg);
  border-radius: 50%;
  border: 2px solid transparent;
  border-top-color: white;
  pointer-events: none;
}
.round_border_2 {
  position: absolute;
  z-index: 14;
  width: 100%;
  aspect-ratio: 1;
  top: 0;
  left: 25px;
  transform: rotateZ(90deg);
  border-radius: 50%;
  border: 2px solid transparent;
  border-top-color: white;
  pointer-events: none;
}
.round_border_3 {
  position: absolute;
  z-index: 14;
  width: 60%;
  aspect-ratio: 1;
  top: 35px;
  left: 3px;
  transform: rotateZ(200deg);
  border-radius: 50%;
  border: 2px solid transparent;
  border-top-color: white;
  pointer-events: none;
}
.round_border_4 {
  position: absolute;
  z-index: 14;
  width: 100%;
  aspect-ratio: 1;
  top: 25px;
  left: -8px;
  transform: rotateZ(200deg);
  border-radius: 50%;
  border: 2px solid transparent;
  border-top-color: white;
  pointer-events: none;
}

.hamburger_container {
  display: none;
  flex-direction: column;
  height: 21.2px;
  justify-content: space-between;
  align-items: end;
  background: none;
  border: none;
  cursor: pointer;
  scale: 1.2;
  z-index: 20;
}
.hamburger_container:hover {
  .line_2 {
    width: 30px;
  }
  .line_3 {
    width: 30px;
  }
}

.line_1, .line_2, .line_3 {
  height: 3px;
  width: 30px;
  background-color: white;
}

.nav_menu_container {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 9;
  // background-color: rgb(249, 247, 235);
  background: linear-gradient(315deg, gray, black);
}

.nav_menu {
  margin-top: 100px;
  color: white;
  z-index: 10;
}

.name {
  font-size: 5em;
  font-weight: 1000;
  line-height: 1.1;
  margin-bottom: 25px;
  padding: 10px 30px;

  display: flex;
  flex-wrap: wrap;
}

.nav_link {
  font-size: 3em;
  font-weight: 500;
  margin-bottom: 10px;
  padding: 20px 30px;
  position: relative;
}

.link_bg {
  background: linear-gradient(90deg, rgba(255, 255, 255, 0.3) 0%, rgba(255, 255, 255, 0.3) 50%, transparent 70%, transparent 100%);
  background-size: 300% 100%;
  background-position: 100%;
}

.line_letter {
  display: inline-block;
}

@media (max-width: 500px) {
  .nav_menu_container {
    display: block;
  }
  .links {
    display: none;
  }
  .hamburger_container {
    display: flex;
  }
}
