.line {
  position: fixed;
  left: 0;
  right: 0;
  background: white;
  height: 1px;
  width: 100%;
}

.bg_title {
  position: fixed;
  left: 50%;
  translate: -50%;
  color:rgba(255, 255, 255, 0.1);
  font-size: 7em;
  font-weight: 600;
  white-space: nowrap;
  pointer-events: none;
  user-select: none;
}

.points_container {
  display: flex;
  align-items: center;
  padding: 0 100px;
  gap: 100px;
}

.timeline_point {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.half_section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.circle {
  position: relative;
  background-color: white;    // will be overwritten
  height: 80px;
  aspect-ratio: 1;
  border-radius: 50%;

  display: flex;
  align-items: center;
  justify-content: center;
}

.description {
  width: 370px;
  position: absolute;
  left: calc(100% + 15px);
  top: 0;
}

.title {
  font-size: 3.8em;
  font-weight: 1000;
  color: rgba(255, 255, 255, 0.5);   // change later
}

.subtitle {
  margin-top: 2px;
  margin-left: 50px;
  color: white;
  font-weight: 700;
  font-size: 1.5em;
}

.paragraph {
  margin-top: 10px;
  margin-left: 50px;
  color: white;
  font-size: 1em;
  line-height: 1.2;
}

.connector {
  background-color: white;
  width: 1px;
  height: 100px;
}

.point {
  background-color: white;    // will be overwritten
  width: 10px;
  height: 10px;
  border-radius: 50%;
  z-index: 11;
  scale: 1.2;
}

.icon_container {
  position: relative;
  width: 80%;
  aspect-ratio: 1;
}
